.sectionOne{
    font-family: tillana, sans-serif;

}
.name{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}
.prhase{
    font-size: 1.5rem;
    font-weight: 500;
    margin:  0;;
}
.intro{
    display: flex;
    margin: 2rem;
}