/* Header.module.css */
.header {
  font-family: tillana, sans-serif;
  background-color: #C0CAB1;
  width: 100%;
  height: 100%;
    
  }
  
  .nav {
    padding: .25rem;
  }
  
  .navList {
    list-style: none;
    padding:0;
    display: flex;
    transform: translateX(50%);
    gap:4rem;
    font-weight: 600;
    margin:1rem;
  }
  
  .navLink {
    color: black;
    text-decoration: none;
    padding: 0;
    display: block;
    text-shadow: .25rem .25rem .5rem #363633;
  }
  
  .navLink:hover {
    text-decoration: underline; /* Esto subrayará el texto */
    text-decoration-color: #000; /* Cambia #000 por el color que prefieras */
    text-decoration-thickness: 2px; /* Ajusta el grosor de la línea */
  }
  
  